
  <li class="movie js-movie" id='{{id}}'>
    <div class="movie__imgBox">
      <img class="movie__img" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="Poster" data-id="{{id}}">
    </div>
    <div class="movie__infoBox">
      <p class="movie__title">{{title}}{{name}}</p>
      <div class="movie__block"><p class="movie__info">{{genres}} | {{release_date}} <span class="movie__average"> {{vote_average}} </span></p></div>
    </div>
  </li>